.vscode1 {
    text-align: center;
    display: inline-block;
}

iframe {
    padding: 2rem;
}

h1 {
    font-size: 3.5rem;
    font-family: monotype corsiva, serif;
    text-align: center;
}

body {
    background-image: url(../images/ww.jpg);
    background-repeat: no-repeat;
    font-family: monotype corsiva, sans-serif;
    font-size: 1.5rem;
    background-size: cover;
    margin: 0;
    padding: 0;
}